* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  color: #333;
  line-height: 1.5;
}

a {
  color: initial;
  text-decoration: none;
}

input,
select {
  padding: 4px;
}
